*{
    box-sizing: border-box;
}

.main{
    width: 900px;
    margin: 10px auto;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    justify-content: space-around;
    gap: 10px;
    align-content: space-around;
    align-items: center;
    justify-items: stretch;
}
.main.child{
    border: 5xp solid #86e619;
}
.butt{
    width: 100%;    
    text-align: center;
    padding-right: 25px;
    display: flex;
    justify-content:flex-end;
    position: relative;   
    
}
.butt::before{
    content: '';
    position: absolute;
    top: 16px;
    bottom: 0;
    right: 17px;
    display: block;
    width: 17px;
    height: 20px;
    background: #2196f3;
    -webkit-transform: skew(40deg);
    -ms-transform: skew(40deg);
    transform: skew(40deg);
    -webkit-transform: skew(135deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);
}
.butt::after{
  content: '';
  position: absolute;
  top: 36px;
  bottom: 0;
  right: 17px;
  display: block;
  width: 17px;
  height: 20px;
  background: #2196f3;
  /*changebackgroundcolortosameasbox*/-webkit-transform: skew(-10deg);
  -ms-transform: skew(40deg);
  transform: skew(40deg);
  -webkit-transform: skew(40deg);
  -moz-transform: skew(40deg);
  -o-transform: skew(40deg);
}

.butt p {
    background-color: #2196f3;
    color: #fff;
    width: 100px;
    height: 40px;
    padding-top: 10px;
    
}
.boxes{
    width: calc(100% -40px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.one{
    grid-column: 1 / 2;
}
.one > :not(:first-child), .two > :not(:first-child){
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding-left: 25px;
    position: relative;
    text-transform: capitalize;
}

.one > :not(:first-child)::after{

    content: '\0078';
    position: absolute;
    width: 14px;
    height: 14px;
    color: #fff;
    text-transform: lowercase;
    background-color: #e91e63;
    left: 3px;
    bottom: calc(50% - 8px);
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.two > :not(:first-child)::before{

    content: '\2714';
    position: absolute;
    width: 14px;
    height: 14px;
    color: #fff;
    text-transform: lowercase;
    background-color: #009688;
    left: 3px;
    bottom: calc(50% - 8px);
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.two{
    grid-column: 2 / 3;
}
.one header{
    background-color:#f44336 ;
    color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0  0;
    -webkit-border-radius: 10px 10px 0  0;
    -moz-border-radius: 10px 10px 0  0;
    -ms-border-radius: 10px 10px 0  0;
    -o-border-radius: 10px 10px 0  0;
}
.two header{
    background-color: #2196f3;
    color: #fff;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.main.box{   
    width: 40%;
}


.box div{
    padding: 15px;
}